#WEB3_CONNECT_MODAL_ID >div {
  z-index: 3;
}

.gradient-text {
  background: -webkit-linear-gradient(#cc2d8f, #346da1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-vertical {
  background: -webkit-linear-gradient(0deg, #cc2d8f, #346da1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-box {
  display: flex;
  align-items: center;
  //width: 50vw;
  margin: auto;

  position: relative;
  box-sizing: border-box;

  $border: 2px;
  color: #000;
  background: #e6e7ee;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to right, #cc2d8f, #346da1);
  }
}

.background {
  background-color: #e6e7ee;
  z-index: -1;
}

#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: #059235;
  stroke-linecap: square;
  stroke-linejoin: square;
}

.donutchart-innertext {
  display: none;
}

.barContainer {
  flex: 1;
  height: 12px;
  background: white;
  border-radius: 12px;
}

.filler {
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(90deg, #CC2D8F 40.72%, #346DA1 100%);
}

.background_cover {
  background-image: url('../images/shop/background.png');
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
}

.box-border-blue {
  border: 1px solid #346DA1;
}

.slick-dots >li{
  width: 2rem !important;
  height: 0.75rem !important;
  background: #346DA1;
  border-radius: 0.75rem;
  opacity: .5;
}

.slick-dots >li >button {
  width: 100% !important;
}

.slick-dots >li >button:before{
  display: none;
}

.slick-dots .slick-active {
  opacity: 1;
}

.donutchart {
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
}

.limit-oneline {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
}

.limit-threelines {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
   min-height: 63px;
}